<div class="row">
<div class="col-md-6"><nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
  <li><a href="/">EZ•PRINT</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#products">Products</a></li>
</ul>
</div></div>
  <div class="col-md-6">
    <form class="form-inline" role="form">
  <div class="form-group">
    <div class="form-group col-sm-8">
    <label class="sr-only" for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </form>
    </div>
  </div>

</nav>
<br>
<div class="row">
  <div class="col-md-6"><h2>Flyers</h2><br>
  <img src="https://dl.dropboxusercontent.com/u/2299490/292292/imgs/Business-Flyers%281%29.png" class="img-responsive" alt="flyers"><br>
  <p><strong>» Printed on vibrant gloss, elegant matte</p>
  <p>» Or writable uncoated paper </p>
<p>» Variety of folding options</p>
<p>» Unique custom sizes available</p>
<p>» Print with confidence
<p>» Free file check and proof.</strong></p>
<br>
<%= submit_tag "Upload Your File & Order Now" , class: "btn btn-primary" %></div>
  <div class="col-md-6"><div class="well well-lg">
  <h4>CONFIGURE & PRICE</h4><br>
   <%= label_tag "Quantity" %>
  <%= select_tag "Quantity" , 
  options_for_select([50 , 100, 150, 200, 500, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000, 100000  ], ), prompt: 250 ,
  class: "form-control" %><br>
  <%= label_tag "Size" %>
  <%= select_tag "Size" , 
  options_for_select(["8.5 x 14 inches" , "11 x 17 inches", "3.5 x 8.5 inches", "4.25 x 5.5 inches" , "5.5 x 8.5 inches"], ), prompt: "8.5 x 11 inches" ,
  class: "form-control" %><br>
  <%= label_tag "Paper" %>
  <%= select_tag "Paper" , 
  options_for_select(["100 lb. Paper Matte" , "70 lb. Paper Uncoated", "80 lb. Paper Gloss", "10 pt. Cardstock Gloss" , "10 pt. Cardstock Matte"], ), prompt: "100 lb. Paper Gloss" ,
  class: "form-control" %><br>
  <%= label_tag "Folding" %><br>
  <%= select_tag "Folding" , 
  options_for_select(["Half Fold" , "Tri-Fold/Letter Fold", "Z Fold", "Gate Fold" , "Accordion Fold (4 panel)" , "Double Gate Fold" , "Double Parallel Fold" , "French Fold" , "Roll Fold (4 panels)" , "Half Fold Then Tri-Fold (6 panels)"], ), prompt: "None" ,
  class: "form-control" %><br>
  <%= label_tag "Printed_side" %>
  <%= select_tag "printed-side" , 
  options_for_select(["Front and Back" ], ), prompt: "Front Only" ,
  class: "form-control" %><br>
  <%= label_tag "Ships_in" %>
  <%= select_tag "ships-in" , 
  options_for_select(["2 business days" , "1 business day"], ), prompt: "3 business days" ,
  class: "form-control" %><br>
  <%= submit_tag "Get Quote" , class: "btn btn-primary" %><br><br>
  <b>Printing cost: $ 107.33</b>
  </div></div>
</div>
<br>


